In [59]:
import polars as pl
print(pl.__version__)

0.19.3

In [60]:
df = pl.read_csv("StudentsPerformance.csv").lazy()
df.fetch()

shape: (500, 9)
┌─────┬────────┬───────────────┬───────────────┬───┬──────────────┬────────────┬─────────┬─────────┐
│ id  ┆ gender ┆ race/ethnicit ┆ parental      ┆ … ┆ test         ┆ math score ┆ reading ┆ writing │
│ --- ┆ ---    ┆ y             ┆ level of      ┆   ┆ preparation  ┆ ---        ┆ score   ┆ score   │
│ i64 ┆ str    ┆ ---           ┆ education     ┆   ┆ course       ┆ i64        ┆ ---     ┆ ---     │
│     ┆        ┆ str           ┆ ---           ┆   ┆ ---          ┆            ┆ i64     ┆ i64     │
│     ┆        ┆               ┆ str           ┆   ┆ str          ┆            ┆         ┆         │
╞═════╪════════╪═══════════════╪═══════════════╪═══╪══════════════╪════════════╪═════════╪═════════╡
│ 1   ┆ female ┆ group B       ┆ bachelor's    ┆ … ┆ none         ┆ 72         ┆ 72      ┆ 74      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 2   ┆ female ┆ group C       ┆ some college  ┆ … ┆ completed    ┆ 69         ┆ 90      ┆ 88      │
│ 3   ┆ female ┆ group B       ┆ master's      ┆ … ┆ none         ┆ 90         ┆ 95      ┆ 93      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 4   ┆ male   ┆ group A       ┆ associate's   ┆ … ┆ none         ┆ 47         ┆ 57      ┆ 44      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ …   ┆ …      ┆ …             ┆ …             ┆ … ┆ …            ┆ …          ┆ …       ┆ …       │
│ 497 ┆ female ┆ group C       ┆ some college  ┆ … ┆ none         ┆ 54         ┆ 48      ┆ 52      │
│ 498 ┆ female ┆ group D       ┆ some college  ┆ … ┆ completed    ┆ 59         ┆ 78      ┆ 76      │
│ 499 ┆ female ┆ group B       ┆ some high     ┆ … ┆ none         ┆ 66         ┆ 69      ┆ 68      │
│     ┆        ┆               ┆ school        ┆   ┆              ┆            ┆         ┆         │
│ 500 ┆ male   ┆ group E       ┆ some college  ┆ … ┆ none         ┆ 76         ┆ 71      ┆ 72      │
└─────┴────────┴───────────────┴───────────────┴───┴──────────────┴────────────┴─────────┴─────────┘

In [61]:
df.columns

['id',
 'gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [62]:
df.select('gender')

df.select(['gender', 'math score'])

df.select(pl.all())

#non-mutating df to view the sum col
sum = (pl.col('math score') + pl.col('reading score')).alias('sum')
df.with_columns(sum).select(['gender', 'sum']).fetch()

shape: (500, 2)
┌────────┬─────┐
│ gender ┆ sum │
│ ---    ┆ --- │
│ str    ┆ i64 │
╞════════╪═════╡
│ female ┆ 144 │
│ female ┆ 159 │
│ female ┆ 185 │
│ male   ┆ 104 │
│ …      ┆ …   │
│ female ┆ 102 │
│ female ┆ 137 │
│ female ┆ 135 │
│ male   ┆ 147 │
└────────┴─────┘

In [63]:
#mutates the df with the sum col
df = df.with_columns(
    (pl.col('math score') + pl.col('reading score')).alias('sum')
)

df.select(['gender', 'sum']).fetch()

shape: (500, 2)
┌────────┬─────┐
│ gender ┆ sum │
│ ---    ┆ --- │
│ str    ┆ i64 │
╞════════╪═════╡
│ female ┆ 144 │
│ female ┆ 159 │
│ female ┆ 185 │
│ male   ┆ 104 │
│ …      ┆ …   │
│ female ┆ 102 │
│ female ┆ 137 │
│ female ┆ 135 │
│ male   ┆ 147 │
└────────┴─────┘

In [64]:
female_filter = pl.col('gender') == 'female'
group_b_filter = pl.col('race/ethnicity') == 'group B'
df.filter(female_filter & group_b_filter).fetch()

shape: (104, 10)
┌─────┬────────┬────────────────┬────────────────┬───┬────────────┬─────────┬────────────────┬─────┐
│ id  ┆ gender ┆ race/ethnicity ┆ parental level ┆ … ┆ math score ┆ reading ┆ writing score  ┆ sum │
│ --- ┆ ---    ┆ ---            ┆ of education   ┆   ┆ ---        ┆ score   ┆ ---            ┆ --- │
│ i64 ┆ str    ┆ str            ┆ ---            ┆   ┆ i64        ┆ ---     ┆ i64            ┆ i64 │
│     ┆        ┆                ┆ str            ┆   ┆            ┆ i64     ┆                ┆     │
╞═════╪════════╪════════════════╪════════════════╪═══╪════════════╪═════════╪════════════════╪═════╡
│ 1   ┆ female ┆ group B        ┆ bachelor's     ┆ … ┆ 72         ┆ 72      ┆ 74             ┆ 144 │
│     ┆        ┆                ┆ degree         ┆   ┆            ┆         ┆                ┆     │
│ 3   ┆ female ┆ group B        ┆ master's       ┆ … ┆ 90         ┆ 95      ┆ 93             ┆ 185 │
│     ┆        ┆                ┆ degree         ┆   ┆            ┆         ┆                ┆     │
│ 6   ┆ female ┆ group B        ┆ associate's    ┆ … ┆ 71         ┆ 83      ┆ 78             ┆ 154 │
│     ┆        ┆                ┆ degree         ┆   ┆            ┆         ┆                ┆     │
│ 7   ┆ female ┆ group B        ┆ some college   ┆ … ┆ 88         ┆ 95      ┆ 92             ┆ 183 │
│ …   ┆ …      ┆ …              ┆ …              ┆ … ┆ …          ┆ …       ┆ …              ┆ …   │
│ 945 ┆ female ┆ group B        ┆ high school    ┆ … ┆ 58         ┆ 68      ┆ 61             ┆ 126 │
│ 970 ┆ female ┆ group B        ┆ bachelor's     ┆ … ┆ 75         ┆ 84      ┆ 80             ┆ 159 │
│     ┆        ┆                ┆ degree         ┆   ┆            ┆         ┆                ┆     │
│ 981 ┆ female ┆ group B        ┆ high school    ┆ … ┆ 8          ┆ 24      ┆ 23             ┆ 32  │
│ 992 ┆ female ┆ group B        ┆ some high      ┆ … ┆ 65         ┆ 82      ┆ 78             ┆ 147 │
│     ┆        ┆                ┆ school         ┆   ┆            ┆         ┆                ┆     │
└─────┴────────┴────────────────┴────────────────┴───┴────────────┴─────────┴────────────────┴─────┘

In [65]:
(df.group_by('race/ethnicity')
 .count()
 .sort(by='count', descending=True)
 .collect())

shape: (5, 2)
┌────────────────┬───────┐
│ race/ethnicity ┆ count │
│ ---            ┆ ---   │
│ str            ┆ u32   │
╞════════════════╪═══════╡
│ group C        ┆ 319   │
│ group D        ┆ 262   │
│ group B        ┆ 190   │
│ group E        ┆ 140   │
│ group A        ┆ 89    │
└────────────────┴───────┘

In [66]:
lang_score = pl.read_csv("LanguageScore.csv").lazy()

df = df.join(lang_score, on='id', how="left")
df.fetch()

shape: (500, 11)
┌─────┬────────┬─────────────────┬─────────────────┬───┬─────────┬────────────────┬─────┬──────────┐
│ id  ┆ gender ┆ race/ethnicity  ┆ parental level  ┆ … ┆ reading ┆ writing score  ┆ sum ┆ language │
│ --- ┆ ---    ┆ ---             ┆ of education    ┆   ┆ score   ┆ ---            ┆ --- ┆ score    │
│ i64 ┆ str    ┆ str             ┆ ---             ┆   ┆ ---     ┆ i64            ┆ i64 ┆ ---      │
│     ┆        ┆                 ┆ str             ┆   ┆ i64     ┆                ┆     ┆ i64      │
╞═════╪════════╪═════════════════╪═════════════════╪═══╪═════════╪════════════════╪═════╪══════════╡
│ 1   ┆ female ┆ group B         ┆ bachelor's      ┆ … ┆ 72      ┆ 74             ┆ 144 ┆ 74       │
│     ┆        ┆                 ┆ degree          ┆   ┆         ┆                ┆     ┆          │
│ 2   ┆ female ┆ group C         ┆ some college    ┆ … ┆ 90      ┆ 88             ┆ 159 ┆ 67       │
│ 3   ┆ female ┆ group B         ┆ master's degree ┆ … ┆ 95      ┆ 93             ┆ 185 ┆ 34       │
│ 4   ┆ male   ┆ group A         ┆ associate's     ┆ … ┆ 57      ┆ 44             ┆ 104 ┆ 33       │
│     ┆        ┆                 ┆ degree          ┆   ┆         ┆                ┆     ┆          │
│ …   ┆ …      ┆ …               ┆ …               ┆ … ┆ …       ┆ …              ┆ …   ┆ …        │
│ 497 ┆ female ┆ group C         ┆ some college    ┆ … ┆ 48      ┆ 52             ┆ 102 ┆ null     │
│ 498 ┆ female ┆ group D         ┆ some college    ┆ … ┆ 78      ┆ 76             ┆ 137 ┆ null     │
│ 499 ┆ female ┆ group B         ┆ some high       ┆ … ┆ 69      ┆ 68             ┆ 135 ┆ null     │
│     ┆        ┆                 ┆ school          ┆   ┆         ┆                ┆     ┆          │
│ 500 ┆ male   ┆ group E         ┆ some college    ┆ … ┆ 71      ┆ 72             ┆ 147 ┆ null     │
└─────┴────────┴─────────────────┴─────────────────┴───┴─────────┴────────────────┴─────┴──────────┘

In [67]:
(df.group_by('lunch')
 .agg(pl.col('math score').mean())
 .collect())

shape: (2, 2)
┌──────────────┬────────────┐
│ lunch        ┆ math score │
│ ---          ┆ ---        │
│ str          ┆ f64        │
╞══════════════╪════════════╡
│ free/reduced ┆ 58.921127  │
│ standard     ┆ 70.034109  │
└──────────────┴────────────┘

In [70]:
df = df.with_columns(
    (pl.col('math score') + pl.col('reading score') + pl.col('writing score') + pl.col('language score')).alias('sum')
)

scores_by_gender_and_lunch = (df
 .group_by(['gender', 'lunch'])
 .agg(pl.col('sum').mean())
 .sort('gender')
 .collect())
scores_by_gender_and_lunch

shape: (4, 3)
┌────────┬──────────────┬────────────┐
│ gender ┆ lunch        ┆ sum        │
│ ---    ┆ ---          ┆ ---        │
│ str    ┆ str          ┆ f64        │
╞════════╪══════════════╪════════════╡
│ female ┆ standard     ┆ 276.647059 │
│ female ┆ free/reduced ┆ 249.375    │
│ male   ┆ standard     ┆ 250.703704 │
│ male   ┆ free/reduced ┆ 226.782609 │
└────────┴──────────────┴────────────┘

In [69]:
scores_by_gender_and_lunch.write_parquet("scores_by_gender_and_lunch.parquet")